html {
  background: hsl(0, 0%, 100%);
  text-rendering: optimizelegibility;
}

body {
  padding: 10rem 1.5rem 1.5rem;
  font-family: Georgia, serif;
  color: hsl(0, 0%, 20%);
  font-size: 22px;
  line-height: 1.7;
}

.layout {
  margin: 0 auto;
  max-width: 650px;
}

@media only screen and (max-width: 550px) {
  body {
    padding: 10rem 1rem 1rem;
    font-size: 16px;
  }
}

*::selection {
  background: hsla(54, 100%, 62%, 0.4);
}
