html {
  background: hsl(0, 0%, 100%);
  text-rendering: optimizelegibility;
}

body {
  padding: 3rem 1.5rem 1.5rem;
  font-family: Garamond, Georgia, serif;
  color: hsl(0, 0%, 20%);
  font-size: 18px;
  line-height: 1.7;
}

.layout {
  margin: 0 auto;
  max-width: 550px;
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 16px;
  }
}

*::selection {
  background: hsla(54, 100%, 62%, 0.4);
}
