a {
  color: hsla(0, 0%, 25%);
  text-decoration: none;
}
a:hover {
  color: hsla(0, 0%, 50%);
}

.postLink {
  margin-bottom: 1rem;
}

.postTitle {
  padding-right: 1rem;
}

.postDate {
  font-size: 0.7em;
  color: hsla(0, 0%, 50%);
}
